﻿@model Skiffie.Models.TowerCreate

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tower</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TowerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TowerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TowerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subnet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subnet, new { htmlAttributes = new { @class = "form-control", @Value="10.x.y" } })
                @Html.ValidationMessageFor(model => model.Subnet, "", new { @class = "text-danger" })
                @if(ViewBag.SubnetError != "") {
                    @Html.Encode(ViewBag.SubnetError)
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstallZoneId, "InstallZoneId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InstallZoneId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InstallZoneId, "", new { @class = "text-danger" })
            </div>
        </div>

        Access Points:
        <span id="APs"></span>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-6">
                <button type="button" class="btn btn-success" id="AddAP">Add AP</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/TowerCreate.js")
}