﻿@model Skiffie.Models.Appointment

<h3>Reschedule.</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    @Html.HiddenFor(model => model.TimeSlotID)
    @Html.HiddenFor(model => model.Date)    

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.TextArea("Comment", "", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group col-md-12">
        @Html.Label("Appointment Time:", htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <span id="DateTimeSlot">Select Below</span>
        </div>
    </div>

    <div id="ScheduleDiv" class="form-group col-md-12"></div>

    <div class="form-actions no-color col-md-4">
            <input type="submit" value="Reschedule" class="btn btn-success btn-block" />
    </div>
}