﻿@model IEnumerable<Skiffie.Models.Schedule>

@{
    ViewBag.Title = "CheckDates";
}

<h2>CheckDates</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayName("Zone")
        </th>
        <th>
            @Html.DisplayName("Time Slot")
        </th>
        <th>
            @Html.DisplayName("Availability")
        </th>
    </tr>
@foreach (var item in Model)
{
foreach (var opening in item.Openings)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @opening.InstallZone.Name
        </td>
        <td>
            @opening.TimeSlot.Name
        </td>
        <td>
            @opening.AvailableAmount/@opening.Amount
        </td>
    </tr>
}
}
</table>